.home-page {
  margin-top: 81px;
}
.banner-text {
  position: absolute;
  top: 450px;
  left: 18%;
  transform: translateY(-50%);
}
.fluid-img-max-width {
  padding: 0 100px;
}
.banner-text-title {
  font-family: "Bruno Ace SC", cursive;
  color: #fff;
  font-size: 54px;
  padding-bottom: 30px;
  position: relative;
}
.banner-text-title::after {
  content: "";
  display: block;
  width: 100px;
  height: 5px;
  background-color: #cf0a2c;
  position: absolute;
  bottom: 0;
  left: 0;
}
.banner-text-para{
    font-size: 14px;
    color: #fff;
    font-weight: 300;
    padding-top: 12px;
    padding-bottom: 15px;
}
.info,.banner-video,.recommend{
    padding-top: 100px;
}
.info-para{
    font-size: 15px;
    font-weight: 300;
}
.slick-slider {
  width: 100%;
  margin: auto;
  background-color: #fff;
}
.recommend{
  padding-bottom: 231px;
}
.recommend-title{
  margin-bottom: 36px;
}
