.header {
  min-height: 81px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #efefef;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 99;
  background-color: #2cb52a;
}
.nav{
  justify-content: flex-start;
}
.nav .logo-box {
  width: 250px;
  height: 81px;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}
