<div class="wrapper compact-wrapper">
  <!-- Sidebar -->
  <div class="sidebar">
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
      <div class="sidebar-content">
        <ul class="nav nav-primary">
          <!-- Home -->
          <li class="nav-item">
            <a
              data-toggle="collapse"
              href="#dashboard"
              class="collapsed"
              aria-expanded="false"
            >
              <i class="fas fa-home text-success"></i>
              <p class="ml-2">Trang chủ</p>
              <span class="caret"></span>
            </a>
          </li>
          <!-- Danh sách category -->
          <li
            class="nav-item"
            *ngFor="let category of listCategory; let i = index"
          >
            <a data-toggle="collapse" href="#{{ category.categoryName }}">
              <i class="{{ category.icon }} text-success"></i>
              <p class="ml-2">{{ category.categoryName }}</p>
              <span class="caret"></span>
            </a>
            <div class="collapse show" id="{{ category.categoryName }}">
              <ul class="nav nav-collapse">
                <li *ngFor="let product of listProduct; let i = index">
                  <a routerLink="{{product.path}}" *ngIf="category.id == product.category.id">
                    <span class="sub-item">{{ product.productName }}</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- End Sidebar -->

  <!-- End Custom template -->
</div>
