<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 text-white">
        2022 © E-FAM by <a href="https://www.fis.com.vn/" target="__blank"> FIS Bank HCM</a>
      </div>
      <div class="col-md-6">
        <div class="text-md-right footer-links d-none d-sm-block">
          <a href="javascript:void(0);"><i class="fas fa-map-marker-alt"></i> Lô B3, Đ. Sáng Tạo, Tân Thuận Đông, Quận 7, Thành phố Hồ Chí Minh</a>
        </div>
      </div>
    </div>
  </div>
</footer>