<footer class="footer">
  <div
    class="email-signup d-flex justify-content-center align-items-center bg-dark"
  >
    <div class="email-content text-white">
      <span class="me-3">Be the first to know about new arrivals</span>
      <button class="btn btn-danger btn-medium">Sign up</button>
    </div>
  </div>
  <div class="container">
    <div class="footer-column row">
      <div class="column-content col-8 row">
        <div class="column-item col-3">
          <h4 class="item-title">Help</h4>
          <ul class="item-list">
            <li><a href="#">Contact us</a></li>
            <li><a href="#">FQA</a></li>
            <li><a href="#">Size Guide</a></li>
            <li><a href="#">Sale Exclusions</a></li>
            <li><a href="#">Find a Store</a></li>
          </ul>
        </div>
        <div class="column-item col-3">
          <h4 class="item-title">Shop</h4>
          <ul class="item-list">
            <li><a href="#">Gift card</a></li>
            <li><a href="#">Order Status</a></li>
            <li><a href="#">Shipping Information</a></li>
            <li><a href="#">Return & Exchanges</a></li>
            <li><a href="#">Custom Uniforms</a></li>
          </ul>
        </div>
        <div class="column-item col-3">
          <h4 class="item-title">About Us</h4>
          <ul class="item-list">
            <li><a href="#">Our Purpose</a></li>
            <li><a href="#">Responsible Leadership</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">The TRACK at New Balance</a></li>
            <li><a href="#">Press Box</a></li>
          </ul>
        </div>
        <div class="column-item col-3">
          <h4 class="item-title">For You</h4>
          <ul class="item-list">
            <li><a href="#">Special Discounts</a></li>
            <li><a href="#">Sign Up to Wear Test</a></li>
            <li><a href="#">Idea Submission</a></li>
            <li><a href="#">Affiliate Program</a></li>
            <li><a href="#">Counterfeit Products</a></li>
            <li><a href="#">Accessibility Statement</a></li>
          </ul>
        </div>
      </div>
      <div class="column-last col-3 offset-1">
        <div class="logo col-3 my-3">
          <a href="#">
            <img
              src="https://www.newbalance.com/on/demandware.static/-/Library-Sites-NBUS-NBCA/default/dw3de6aa04/images/homepage/footer/logo.svg"
              alt="Logo NB"
              width="100%"
            />
          </a>
        </div>
        <span class="about-company"
          >Independent since 1906, we empower people through sport and
          craftsmanship to create positive change in communities around the
          world.
        </span>
        <div class="social-icon d-flex mt-3">
          <div class="me-3">
            <a href="">
              <img
                src="https://www.newbalance.com/on/demandware.static/-/Library-Sites-NBUS-NBCA/default/dwace679d4/images/homepage/footer/social/instagram.svg"
                alt="instagram"
              />
            </a>
          </div>
          <div class="me-3">
            <a href="">
              <img
                src="https://www.newbalance.com/on/demandware.static/-/Library-Sites-NBUS-NBCA/default/dw611839e0/images/homepage/footer/social/facebook.svg"
                alt="facebook"
              />
            </a>
          </div>
          <div class="me-3">
            <a href="">
              <img
                src="https://www.newbalance.com/on/demandware.static/-/Library-Sites-NBUS-NBCA/default/dwa2ea5db7/images/homepage/footer/social/twitter.svg"
                alt="twitter"
              />
            </a>
          </div>
          <div class="me-3">
            <a href="">
              <img
                src="https://www.newbalance.com/on/demandware.static/-/Library-Sites-NBUS-NBCA/default/dw0e369d2d/images/homepage/footer/social/youtube.svg"
                alt="youtube"
              />
            </a>
          </div>
          <div class="me-3">
            <a href="">
              <img
                src="https://www.newbalance.com/on/demandware.static/-/Library-Sites-NBUS-NBCA/default/dw565a6402/images/homepage/footer/social/pinterest.svg"
                alt="pinterest"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-box">
    <div class="container">
      <div class="family-brands justify-content-center align-items-center w-100 d-flex">
        <span class="title">New Balance family of brands</span>
        <span class="img">
          <a href="#">
            <img
              src="https://www.newbalance.com/on/demandware.static/-/Library-Sites-NBUS-NBCA/default/dw4cb62335/images/homepage/footer/brine-logo.svg"
              alt=""
            />
          </a>
        </span>
        <span class="img">
          <a href="#">
            <img
              src="https://www.newbalance.com/on/demandware.static/-/Library-Sites-NBUS-NBCA/default/dw962ceddc/images/homepage/footer/warror.svg"
              alt=""
            />
          </a>
        </span>
        <span class="img">
          <a href="#">
            <img
              src="https://www.newbalance.com/on/demandware.static/-/Library-Sites-NBUS-NBCA/default/dwa49d224b/images/homepage/footer/teamsports-logo.svg"
              alt=""
            />
          </a>
        </span>
      </div>
      <div class="footer-add-link px-3 pt-3 d-flex">
        <div class="flag d-flex me-2">
            <span class="flag-img me-2">
                <img src="https://www.newbalance.com/on/demandware.static/Sites-NBUS-Site/-/default/dwe76270e8/images/route-US.png" alt="" width="45px">
            </span>
            <span class="flag-text">US</span>
        </div>
        <div class="links d-flex">
            <div class="link-item">
                <a href="#">Privacy Policy</a>
            </div>
            <div class="link-item">
                <a href="#">Website Terms & Conditions</a>
            </div>
            <div class="link-item">
                <a href="#">CA Supply Chains Act (SB 657) and Modern Slavery Act Statement</a>
            </div>
            <div class="link-item">
                <a href="#">Medical Plan Information</a>
            </div>
            <div class="link-item">
                <a href="#">Do Not Sell or Share My Personal Information</a>
            </div>
        </div>
        <div class="copywriter">
            <div class="">Copyright <span id="copyright-year">2023</span>, New Balance</div>
        </div>
      </div>
    </div>
  </div>
</footer>
