@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("https://bookingonline.vpbank.com.vn/static/media/bg_page1.fd8b2394.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: fixed;
   display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: "Be Vietnam Pro", sans-serif;
}
