
.form-login {
  border-radius: 10px;
  background: hsla(0, 0%, 100%, 0.1) !important;
  backdrop-filter: blur(10px);
}
h1 {
  font-weight: 700;
  font-size: 50px;
}
input {
  background-color: transparent;
}
